* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Serif', serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    background-color: blueviolet;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    /* padding: 15px 0 ; */
    color: white;
}

nav .brand {
    font-family: 'Lobster', cursive;
    letter-spacing: 0.2em;
}

nav ul {
    display: flex;
    width: 40%;
    list-style: none; 
    justify-content: space-between;
}


nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color : red;
}

/* Menu humberger */

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;

}

/* Humbergen Menu Animation */
/* sumbu x dan sumbu y */
 .menu-toggle span:nth-child(2) {
     transform-origin: 0 0;
 }
 .menu-toggle span:nth-child(4) {
     transform-origin: 0 100%;
 }


/* Jika Menu Toggle/input di click maka cari sibling atau saudaranya menggunakan ~ */
.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
}

/* Responsive Navbar */

/* Jika Di Ukuran Tablet */
@media screen and (max-width:768px) {
    nav ul {
        width: 50%;
    }
   
}

/* Jika Di buka Di Mobile atau Handphone */
@media screen and ( max-width: 576px) {
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background-color: blueviolet;
        justify-content: space-evenly;
        z-index: -2;
        align-items: center;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        transform: translate(0);
        opacity: 1;
    }

    .menu-toggle {
        display: flex;
    }
   
}